@use 'sass:math'; //Importamos el modulo de matematicas de sass

.footer {
    padding: math.div($separacion, 2); //para dividir usamos math.div en vez de padding: $separacion / 2;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenido-footer{
        padding: math.div($separacion, 2);
    }

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}